.postContainer {
    box-shadow: var(--dark-shadow);
    border-bottom: 1px solid var(--clr-grey-100);
    border-top: 1px solid var(--clr-grey-100);
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    width: 35rem;
    position: relative;
    border-radius: 10px;
}

.postAccountDetails,
.post,
.buttons {
    padding: 0.5rem;

}

.postAccountDetails {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.postAccountDetails>* {
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: column;
}

.displayName {
    font-weight: bold;
}

.userName,
.timedate {
    font-size: 0.7rem;
    display: flex;
}

.timedate {
    display: flex;
    gap: 8px;
}

.buttons {
    display: flex;
    gap: 1rem;
}