@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.nav {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--secondary-color);
    z-index: 2;
}

.nav h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
}

.nav span {
    color: var(--primary-color);
}