
.blue {
    color: #1d9bf0;
}

.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.circle {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    background: rgba(29, 156, 240, 0.123);
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(29, 156, 240, 0.555);
        transform: scale(1);
    }

    100% {
        box-shadow: 0 0 0 40px #1d9cf004;
        transform: scale(1.5);
    }
}

.master {
    color: black;
    float: right;
}

@media (max-width: 900px) {
    .master {
        display: none;
    }
}