@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color-light: #f8f9fd;
  --font-color-unselected: var(--clr-grey-50);
  --font-color-dark: var(--clr-grey-900);

  --font-color-tint1: var(--clr-grey-600);
  --font-color-tint2: var(--clr-grey-400);

  --border-color: var(--clr-grey-40);
  --bg-color: #000;
  --secondary-color: #1f1f1f;
  --secondary-color-a6: rgba(31, 31, 31, 0.6);
  --card-color: #2e2e2e;
  --card-color-a55: rgba(46, 46, 46, 0.55);
  --light-card-color: #F2F2F2;
  --quaternary-color: #333333;
  --hover-color: #363636;

  --primary-color: #1d9bf0;
  --danger-color: #ff0000;
  --warning-color: #fade53;

  --light-shadow: 0 5px 15px rgba(165, 165, 165, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 1);

  --transition-one: all 0.4s linear;
  --transition-two: 0.3s ease-in-out all;
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --max-width: 1250px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
}

@media (max-width: 800px) {
  html {
    font-size: 90%;
  }
}

a {
  background: transparent;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--font-color-light);
}

.container {
  display: flex;
  height: 100%;
  max-width: var(--max-width);
  margin: auto;
}

.btn {
  border-radius: 10px;
  background-color: var(--primary-color);
}

.btn-outline {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--font-color-light);
}

.flex-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading-component {
  margin: 2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.hover-animation {
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 100%;
  padding: 0.75rem 1rem;
  transition: 0.2s ease-out;
}

.hover-animation:hover {
  background: #d9d9d9;
  opacity: 0.1;
}

.icon-action {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 0 0.5rem;
  transition: ease-out;
}

.icon-action:hover {
  background: hsla(204, 88%, 53%, 0.2);
}


@media screen and (max-width:1280px) {
  .hover-animation {
    width: 3.25rem;
    height: 3.25rem;
    padding: 0;
  }
}

.main-container {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 1px solid var(--font-color-tint2);
  border-right: 1px solid var(--font-color-tint2);
  margin: 0 2rem;
  padding: 0 0.5rem;
}

.avatar-standard {
  width: 2.3rem;
  height: 2.3rem;
}

.avatar-small {
  width: 1.8rem;
  height: 1.8rem;
}

.menu {
  margin-left: auto;
}

.menu-btn {
  margin-top: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: auto;
}

.dropdown {
  position: absolute;
  right: 1.5rem;
  top: 2.5rem;
  z-index: 2;
  background: var(--secondary-color);
}

.item {
  border: none;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item:hover {
  background: var(--hover-color);
}

.title {
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;
}

@media screen and (max-width:1100px) {
  .main-container {
    margin: 0 1rem;
  }
}

@media screen and (max-width:950px) {
  .main-container {
    border-right: none;
  }
}

@media screen and (max-width:600px) {
  .main-container {
    margin: 0 0.5rem;
  }
}

.react-loading-skeleton {
  background: #2e2e2e;
  box-shadow: inset 4px 4px 6px var(--secondary-color),
    inset -4px -4px 6px var(--secondary-color)
}

.react-loading-skeleton::after {
  background-image: linear-gradient(90deg, var(--card-color), rgba(29, 156, 240, 0.776), var(--card-color))
}